/*----------------
      RESET
------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------
      DEBUG
------------------*/

.debug .col-left {
  background-color: red;
}

.debug .col-right {
  background-color: green;
}

.debug .hero {
  width: 100%;
}

.debug .container {
  border: 1px solid black;
}

/*----------------
      COMMON
------------------*/

.container {
  max-width: 1200px;
  margin: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/*----------------
      TYPO
------------------*/
body {
  font-family: 'Open Sans', sans-serif;
}

.hero h1 {
  font-size: 62px;
  padding-top: 100px;
}

/*----------------
      BUTTON
------------------*/
.button-base {
  border: none;
  padding: 5px 10px;
}

.button-cyan {
  background-color: #0262f5;
  color: white;
}

.hero button {
  margin-top: 30px;
  font-size: 15px;
  margin-bottom: 10px;
}

/*----------------
      HEADER
------------------*/
header {
  position: relative;
}

.box-head {
  position: fixed;
  top: 0%;
  margin: left;
  width: 100%;
  vertical-align: middle;
  background-color: white;
  z-index: 10;
}

.col-left {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.col-right {
  display: inline-block;
  width: 50%;
  text-align: right;
  margin: -4px;
}

.col-left,
.col-right {
  padding: 20px 20px;
}

.nav-head {
  display: inline-block;
  color: black;
  vertical-align: middle;
  padding-right: 30px;
}

.nav-head li {
  display: inline-block;
  padding-left: 30px;
  font-size: 14px;
}
.nav-head a {
  text-decoration: none;
  color: black;
}
.logo {
  vertical-align: middle;
  width: 100px;
}

/*----------------
      MAIN
------------------*/
section.hero {
  background-color: #b4d0e6;
}

section.hero .col-left {
  position: relative;
  bottom: -80px;
  width: 30%;
  text-align: left;
  padding: 0px;
  vertical-align: top;
}

.arrow-down {
  margin-top: 30px;
  font-size: 50px;
}
.img-hero {
  position: relative;
  bottom: -80px;
  width: 60%;
}

/*----------------
      FOOTER
------------------*/
