/*----------------
      RESET
------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------
      DEBUG
------------------*/

.debug .col-left {
  background-color: red;
}

.debug .col-right {
  background-color: green;
}

.debug .hero {
  width: 100%;
}

.debug .container {
  border: 1px solid black;
}

.debug .container-small {
  border: 1px solid red;
}

.debug .col-business-sx {
  border: 1px solid black;
  background-color: #0262f5;
}
.debug .col-business-right {
  border: 1px solid black;
  background-color: #0262f5;
}
.debug .col-business-midle {
  border: 1px solid black;
  background-color: #0262f5;
}
/*----------------
      COMMON
------------------*/

.container {
  max-width: 1200px;
  margin: auto;
}

.container-small {
  max-width: 1080px;
  margin: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/*----------------
      TYPO
------------------*/
body {
  font-family: 'Open Sans', sans-serif;
}

.hero h1 {
  font-size: 62px;
  padding-top: 100px;
}

/*----------------
      BUTTON
------------------*/
.button-base {
  border: none;
  padding: 10px 10px;
}

header .button-base {
  padding: 5px 10px;
}

.button-cyan {
  background-color: #0262f5;
  color: white;
}

.hero button {
  margin-top: 30px;
  font-size: 15px;
  margin-bottom: 10px;
}

/*----------------
      HEADER
------------------*/
header {
  position: relative;
}

.box-head {
  position: fixed;
  top: 0%;
  margin: left;
  width: 100%;
  vertical-align: middle;
  background-color: white;
  z-index: 10;
}

.col-left {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.col-right {
  display: inline-block;
  width: 50%;
  text-align: right;
  margin: -4px;
}

.col-left,
.col-right {
  padding: 20px 20px;
}

.nav-head {
  display: inline-block;
  color: black;
  vertical-align: middle;
  padding-right: 30px;
}

.nav-head li {
  display: inline-block;
  padding-left: 30px;
  font-size: 14px;
}
.nav-head a {
  text-decoration: none;
  color: black;
}
.logo {
  vertical-align: middle;
  width: 100px;
}

/*----------------
      MAIN
------------------*/

/* SEZIONE HERO  */
section.hero {
  background-color: #b4d0e6;
}

section.hero .col-left {
  width: 30%;
  text-align: left;
  margin-top: 80px;
  vertical-align: top;
}

.arrow-down {
  margin-top: 30px;
  font-size: 50px;
}
.img-hero {
  position: relative;
  bottom: -100px;
  width: 750px;
}
/* /SEZIONE HERO  */

/* SEZIONE BUSINESS  */
section.business {
  padding-top: 150px;
  padding-bottom: 300px;
}

section.business h1 {
  font-size: 40px;
  padding-bottom: 50px;
}

section.business small {
  padding-right: 20px;
}

/* gestione table - business  */
.table-business {
  padding-top: 40px;
}
.col-business-sx,
.col-business-right,
.col-business-midle {
  float: left;
  min-height: 1000px;
  border: 1px solid grey;
}

.col-business-sx {
  width: calc((100% / 3) - 20px);
  margin-right: 20px;
}

.col-business-midle {
  width: calc((100% / 3) - 20px);
  margin: 0px 10px;
}

.col-business-right {
  width: calc((100% / 3) - 20px);
  margin-left: 20px;
}

.business-type {
  text-align: center;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.business-data {
  padding: 0px 30px;
  padding-top: 30px;
  font-size: 15px;
}
.price {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}

.duration {
  color: gray;
}

.user {
  padding-top: 50px;
}

.archiving {
  padding: 20px 0px;
}

.button-business {
  padding: 50px 0px;
}

.button-business .button-base {
  width: 100%;
}

a:visited {
  color: #0645ad;
}

.business-data hr {
  color: lightgrey;
  width: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.business-data ul {
  padding-top: 20px;
}

.business-data li {
  list-style-type: none;
  padding: 8px 0px;
}

.business-data li::before {
  content: '\f00c';
  padding-right: 10px;
  color: #0262f5;
}

/* /SEZIONE BUSINESS  */

/*----------------
      FOOTER
------------------*/
