/*----------------
      RESET
------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------
      DEBUG
------------------*/

.debug .col-left {
  background-color: red;
}

.debug .col-right {
  background-color: green;
}

.debug .hero {
  width: 100%;
}

.debug .container {
  border: 1px solid black;
}

.debug .container-small {
  border: 1px solid red;
}

.debug .col-business-sx {
  border: 1px solid black;
  background-color: #0262f5;
}
.debug .col-business-right {
  border: 1px solid black;
  background-color: #0262f5;
}
.debug .col-business-midle {
  border: 1px solid black;
  background-color: #0262f5;
}
/*----------------
      COMMON
------------------*/

.container {
  max-width: 1200px;
  margin: auto;
}

.container-small {
  max-width: 1080px;
  margin: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/*----------------
      TYPO
------------------*/
body {
  font-family: 'Open Sans', sans-serif;
}

.hero h1 {
  font-size: 62px;
  padding-top: 100px;
}

p {
  font-size: 14px;
}
/*----------------
      BUTTON
------------------*/
.button-base {
  border: none;
  padding: 10px 10px;
}

header .button-base {
  padding: 5px 10px;
}

.button-cyan {
  background-color: #0262f5;
  color: white;
}

.button-white {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.hero button {
  margin-top: 30px;
  font-size: 15px;
  margin-bottom: 10px;
}

/*----------------
      HEADER
------------------*/
header {
  position: relative;
}

.nav-head a:visited {
  color: black;
}

.box-head {
  position: fixed;
  top: 0%;
  margin: left;
  width: 100%;
  vertical-align: middle;
  background-color: white;
  z-index: 10;
}

.col-left {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.col-right {
  display: inline-block;
  width: 50%;
  text-align: right;
  margin: -4px;
}

.col-left,
.col-right {
  padding: 20px 20px;
}

.nav-head {
  display: inline-block;
  color: black;
  vertical-align: middle;
  padding-right: 30px;
}

.nav-head li {
  display: inline-block;
  padding-left: 30px;
  font-size: 14px;
}
.nav-head a {
  text-decoration: none;
  color: black;
}
.logo {
  vertical-align: middle;
  width: 100px;
}

/*----------------
      MAIN
------------------*/

/* SEZIONE HERO  */
section.hero {
  background-color: #b4d0e6;
}

section.hero .col-left {
  width: 30%;
  text-align: left;
  margin-top: 80px;
  vertical-align: top;
}

.arrow-down {
  margin-top: 30px;
  font-size: 50px;
}
.img-hero {
  position: relative;
  bottom: -200px;
  width: 750px;
}
/* /SEZIONE HERO  */

/* SEZIONE BUSINESS  */
section {
  padding-bottom: 100px;
}

section.business {
  padding-top: 150px;
}

section.business h1 {
  font-size: 40px;
  padding-bottom: 50px;
}

section.business small {
  padding-right: 20px;
}

/* gestione table - business  */
.table-business {
  padding-top: 40px;
}

div.table-business .col-business-sx,
div.table-business .col-business-right,
div.table-business .col-business-midle {
  border: 1px solid grey;
}
.col-business-sx,
.col-business-right,
.col-business-midle {
  float: left;
  min-height: 1000px;
}

.col-business-sx {
  width: calc((100% / 3) - 20px);
  margin-right: 20px;
}

.col-business-midle {
  width: calc((100% / 3) - 20px);
  margin: 0px 10px;
}

.col-business-right {
  width: calc((100% / 3) - 20px);
  margin-left: 20px;
}

.business-type {
  text-align: center;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.business-data {
  padding: 30px 30px;
  font-size: 14px;
}
.price {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}

.duration {
  color: gray;
}

.user {
  padding-top: 50px;
}

.archiving {
  padding: 20px 0px;
}

.button-business {
  padding: 50px 0px;
}

.button-business .button-base {
  width: 100%;
}

a:visited {
  color: #0645ad;
}

.business-data hr {
  color: lightgrey;
  width: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.business-data ul {
  padding-top: 20px;
}

.business-data li {
  list-style-type: none;
  padding: 8px 0px;
}

.business-data li::before {
  content: '\f00c';
  padding-right: 10px;
  color: #0262f5;
}

/* /SEZIONE BUSINESS  */

/* SEZIONE CONTATTI */

.sales-office {
  border: 1px solid lightgray;
}

.col-contact-sx {
  float: left;
  width: 70%;
}

.col-contact-dx {
  float: left;
  width: 30%;
}

.col-contact-sx h3 {
  padding-top: 20px;
  padding-bottom: 40px;
}

.col-contact-dx button {
  width: 100%;
}

/* sezione contatta partner  */
.partner-contact {
  float: left;
  width: calc((100% / 2) - 50px);
  padding-left: 50px;
}

.partner-contact h1 {
  padding-top: 30px;
}

.partner-contact p {
  padding: 25px 0px;
  line-height: 30px;
}

.img-partner {
  float: left;
  width: calc(100% / 2);
}
/* /sezione contatta partner  */

/* sezione operazioni dropbox */
section.drop-operation h1 {
  font-size: 48px;
}

div.row .col-business-sx,
div.row .col-business-right,
div.row .col-business-midle {
  min-height: 500px;
}

.row {
  padding-top: 50px;
}

div.img-container {
  width: 100%;
  height: 300px;
}

.img-style {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.underline {
  text-decoration: underline;
}

/* /sezione operazioni dropbox */

/* sezione brand */
section.brand {
  padding-top: 50px;
  padding-bottom: 0px;
  width: 100%;
}
.col-small,
.col-midle {
  float: left;
  min-height: 400px;
}

.col-small {
  width: 30%;
}

.col-midle {
  width: 40%;
}

.box-brand-large {
  width: 40vw;
  height: 30vw;
  background-color: #f5f5f5;
  margin: -4px;
  display: inline-block;
  overflow: auto;
}

.box-brand {
  width: 15vw;
  height: 15vw;
  display: inline-block;
  margin: -4px;
}

.box-green {
  background-color: #a2d39b;
}

.box-darkred {
  background-color: #61082b;
}

.box-cyan {
  background-color: #0093ce;
}

.box-red {
  background-color: #ff1c1c;
}

.box-red2 {
  background-color: #d5001f;
}

.box-cyanlight {
  background-color: #b4d0e7;
}

.box-blue {
  background-color: #0d2481;
}

.box-yellow {
  background-color: #ffd830;
}

.box-brand img {
  width: 50%;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  vertical-align: top;
  filter: invert(100);
}

.box-brand-large img {
  width: 20%;
  padding-bottom: 30px;
}

.description {
  padding: 50px;
}

.description hr {
  width: 60px;
  columns: grey;
  margin-bottom: 60px;
}

/* /sezione brand  */

/* sezione prova gratuita  */
.try-for-free {
  background-color: #b4d0e7;
  height: 300px;
}
section.try-for-free .business-data {
  padding-top: 100px;
}

section.try-for-free h1 {
  color: #61082b;
  font-size: 42px;
}

section.try-for-free button {
  border: none;
}

/* /sezione prova gratuita  */

/* sezione faq */
.faq {
  padding: 30px 0px;
  border-bottom: 1px solid grey;
}

.question {
  display: inline-block;
}

.fa-angle-down {
  padding-left: 500px;
  display: inline-block;
}

.answer {
  font-size: 32px;
  padding: 40px 0px;
  border-bottom: 1px solid grey;
}

/* /sezione faq */

/*----------------
      FOOTER
------------------*/
footer {
  background-color: black;
  color: white;
}

.col-footer {
  float: left;
  width: calc((100% / 5) - 50px);
  min-height: 300px;
  margin-right: 50px;
  padding: 80px 0px;
}

footer h3 {
  padding-bottom: 20px;
  font-size: 25px;
}

footer li {
  color: white;
  list-style-type: none;
  padding: 8px 0px;
  font-size: small;
  font-weight: 800;
}

footer a {
  text-decoration: none;
}

footer a:visited {
  color: white;
}

footer hr {
  width: 100%;
  margin: 30px 0px;
  color: grey;
}

.footer-bottom {
  font-size: 15px;
  padding-bottom: 50px;
  color: grey;
}

footer i {
  padding: 0px 5px;
}
